<%- include("partials/header") %>

<body>
    <script>
        $(document).ready(function () {

            $('.ui.sticky')
                .sticky({
                    context: '#context'
                })
                ;
        })

        document.addEventListener('scroll', timeline);

        function timeline() {
            var threshold_position = window.scrollY + window.innerHeight * 2 / 3;
            //compare scrolltop with scrolltop on each timeline event
            var timeline_events = document.querySelectorAll('.timeline li');
            for (i in timeline_events) {
                if (timeline_events[i].offsetTop < threshold_position) {
                    timeline_events[i].classList.add('visible');
                } else {
                    timeline_events[i].classList.remove('visible');
                }
            }
        }
        timeline();


    </script>


    <nav style=" position: fixed; top: 0; background-color: white; width: 100%; z-index: 1;">

        <h2 style="margin-top: 2%;" class="ui center aligned icon header">
            <i class="calendar alternate outline icon"></i>
            On <%= dataObject[0].date%>, these events occurred...
        </h2>
    </nav>


    <% var roll = 0;%>
    <div style="padding-top: 5%;" class="container">
        <ul class="timeline">
            <% dataObject.forEach(function(action){ %>
                
            <li>
                <p>
                    <b>
                        yr. <%= action.year %>
                    </b>
                    <% for(var index = 0; index < action.amount; index++){ %>
                        <p style="font-size: 10px;">
                            <a href="<%= sourceObject[roll].wikipedia%>"><%= sourceObject[roll].title%></a> 
                        </p>
                        <% roll = roll + 1;%>
                    <% } %>

                </p>
                <p>
                    <%= action.description%>
                </p>

                <% }); %>
        </ul>
    </div>

</body>

</html>